{% extends "base.html" %}

{% block content %}
<!--<head>-->
<link rel="stylesheet" href="../static/style.css">
<!--</head>-->

<body>
<div class="header">
    <div id="background">
        <div>
            <form action="http://127.0.0.1:8000/prediction"
                  id="form-container"
                  method="post"

                  enctype="multipart/form-data">

                <div class="form_row">
                    <!-- simple filebrowser -->
                    <div class="file_input">
                        <label for="file">Click here to choose image</label>
                        <input type="file" id="file" name="file">
                    </div>

                    <div class="text_input">
                        <label for="location">Location (optional): </label>
                        <input type="text" id="location" name="location">
                    </div>
                    <br>
                    <!-- send the form to /prediction using <form action> ... -->

                    <label class="label-checkbox item-content">
                        <input type="submit" name="submit" value="Send"/>
                    </label>

                </div>
            </form>
        </div>
    </div>
</div>
<section>
    <h1>Algae Blooming</h1>
    <br>
    <p>
    <p>Algae blooms are a massive amount of
microscopic algae and cyanobacteria,
most commonly appearing during spring
and summer due to higher temperatures in the water,
leading to more access to nutrients.
Some bacteria produces toxins which harms both the environment
and humans coming to contact with the toxins.

This is a rising issue, and more and more actors in Sweden are investing
time and resources into warning about possible Algae blooming.

We've recieved an assigment to build an automated system, that can detect algae blooming through images of water surfaces, preferably using Deep learning.
    </p>
</section>

<script type="text/javascript">
    var HeaderBackground = document.getElementById("background")
    window.addEventListener("scroll", function () {
        HeaderBackground.style.opacity = 1 - +window.pageYOffset / 550 + ""
        HeaderBackground.style.top = +window.pageYOffset + "px"
        HeaderBackground.style.backgroundPositionY = -+window.pageYOffset / 2 + "px"
    })

</script>
</body>
</html>
{% endblock %}