{% extends "base.html" %}

{% block content %}
<!--<head>-->
<link rel="stylesheet" href="../static/style.css">
<!--</head>-->

<body>
<div class="header">
    <div id="background">
        <div>
            <form action="http://127.0.0.1:8000/prediction"
                  id="form-container"
                  method="post"

                  enctype="multipart/form-data">

                <div class="form_row">
                    <!-- simple filebrowser -->
                    <div class="file_input">
                        <label for="file">Click here to choose image</label>
                        <input type="file" id="file" name="file">
                    </div>

                    <div class="text_input">
                        <label for="location">Location (optional): </label>
                        <input type="text" id="location" name="location">
                    </div>
                    <br>
                    <!-- send the form to /prediction using <form action> ... -->

                    <label class="label-checkbox item-content">
                        <input type="submit" name="submit" value="Send"/>
                    </label>

                </div>
            </form>
        </div>
    </div>
</div>
<section>
    <h1>Algblomning</h1>
    <br>
    <p>
    <p>Lorem ipsum dolor sit amet. Qui voluptatem doloremque non vitae earum qui nobis consequatur sed repellat
        excepturi sit quae voluptatem. Eum quia rerum et quasi ducimus est voluptatem corrupti. Ea molestias
        consequuntur et consequuntur corrupti ex accusantium exercitationem ab excepturi voluptatem. Hic suscipit
        saepe sit omnis dolor qui nihil dolores. Aut obcaecati vero At veniam reprehenderit ab dolorum quia et
        voluptate totam id voluptatem nihil! Eos nostrum sint sit corrupti voluptas non ipsam facilis est porro
        voluptatem eos quia aliquam. Aut tempore excepturi sit galisum magni eos distinctio voluptatem. Vel impedit
        iure et consectetur magni ad sint harum id consequatur reiciendis non repellat minima. </p>
    <p>Aut beatae minus est voluptate ullam ex dolor blanditiis et amet galisum id Quis dolorem qui consequuntur
        necessitatibus aut consequatur incidunt. Aut voluptas blanditiis ut velit reprehenderit in galisum molestiae
        ut obcaecati amet. Vel tempore enim a similique quis ut voluptas dolor quo dolorem nobis. Aut dolores
        officia sit eius molestias et magnam inventore a dolor possimus et aperiam voluptatem et assumenda nemo sed
        maiores vitae. Aut sapiente iure et asperiores reiciendis et delectus omnis. Et incidunt magni At nisi
        dolore id porro dolores in expedita porro ex saepe accusamus. Non enim unde et accusamus dolores ad
        necessitatibus sunt aut quisquam laboriosam et quibusdam suscipit et omnis libero vel sapiente perferendis.
        Et maxime omnis sit voluptas autem in eveniet perferendis et necessitatibus autem qui omnis consectetur et
        voluptas delectus. Ea quia aspernatur est totam quasi aut repellendus inventore eum dolor tenetur eos
        officiis odit. Ea unde facere non accusamus dolores sit cupiditate animi! Est laborum ipsum et repellendus
        molestiae aut doloribus pariatur in perferendis dignissimos. </p>
    <p>Eos odio molestiae sit omnis dolores est vero iusto quo facere galisum qui galisum dolor. Qui quam enim non
        eveniet voluptatibus qui quia eveniet sit nihil corrupti est fuga distinctio et quae dolores non porro esse.
        Est recusandae dolorem ut doloribus error ut aliquid veritatis est consequatur doloremque. Quo accusantium
        quaerat quo alias ipsum et provident laboriosam cum aliquam quas. Et magnam voluptatem qui impedit
        distinctio qui cumque dicta in delectus praesentium. Sit cupiditate excepturi aut consequuntur tempora rem
        deleniti dolorem. In aliquid nostrum et laborum error cum impedit aliquam ut rerum aliquid quo tempore
        eveniet sed beatae voluptatum ea dolorem modi. Vel deleniti autem eos illum omnis qui exercitationem saepe
        eum unde repellat sed voluptas impedit ut fugiat sapiente. Ut laboriosam iste aut incidunt Quis et adipisci
        sint est blanditiis velit qui molestiae libero. Eos quia quidem id corporis delectus ea ducimus natus vel
        velit ipsam sed quia nihil sed reiciendis quia id perspiciatis saepe. Ad maxime facere nam iste omnis in
        vero necessitatibus et sint expedita est dolorem consequatur. Id amet dolorem est dolorum eveniet est
        distinctio expedita quo nisi quia sit magni dignissimos non incidunt fugit. Qui quidem nesciunt aut voluptas
        sapiente ut distinctio laborum aut delectus voluptas rem voluptatem nesciunt non tempore eius. Sed atque
        quia et recusandae sint eos saepe unde.
    </p>
</section>

<script type="text/javascript">
    var HeaderBackground = document.getElementById("background")
    window.addEventListener("scroll", function () {
        HeaderBackground.style.opacity = 1 - +window.pageYOffset / 550 + ""
        HeaderBackground.style.top = +window.pageYOffset + "px"
        HeaderBackground.style.backgroundPositionY = -+window.pageYOffset / 2 + "px"
    })

</script>
</body>
</html>
{% endblock %}